/*
    DEMO STYLE
*/
@import
	"https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*****************************************************/
	.botonF1 {
		padding-bottom: 50px;
		width: 60px;
		height: 60px;
		border-radius: 80%;
		right: 100;
		bottom: 0;
		position: fixed;
		margin-right: 16px;
		margin-bottom: 16px;
		border: none;
		outline: none;
		color: #FFF;
		font-size: 36px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: .3s;
		text-align: center;
		margin-left: 78%;
	}
	.contenedor {
		width: 90px;
		height: auto;
		position: relative;
		right: 0px;
		bottom: 0px;
	}
	/*****************************************************/
body {
	padding-top: 190px;
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
	background-color: #f8f8f8;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: black;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: -250px;
	height: 100vh;
	z-index: 999;
	background-color: #614D7A;
	color: #fff;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
	left: 0;
}

#dismiss {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #614D7A;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#dismiss:hover {
	background-color: #614D7A;
	color: #7386D5;
}

.overlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.overlay.active {
	display: block;
	opacity: 1;
}

#sidebar .sidebar-header {
	padding: 20px;
	background-color: #614D7A;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
	color: #fff;
	background-color: #614D7A;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article, a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE 
----------------------------------------------------- */
#content {
	width: 100%;
	padding: 20px;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #614D7A;
}

.formulario {
	width: 35%;
}

.footer {
	text-align: right;
}

.fondoNanbar {
	background-color: #614D7A;
}

.botonUno {
	background-color: #9584E3;
}

.botonDos {
	background-color: #939CFD;
}

.textoImporte {
	color: 2F253B;
}

.color {
	background-color: #614D7A;
}

.logo {
	width: 25%;
}

.centrado {
	display: flex;
	justify-content: center;
}

.imagenPerfil {
	width: 200px;
	height: 250px;
	object-fit: cover;
	object-position: center center;
}

/* CARD */
.usuario {
	color: #614D7A;
}

.usuario:hover {
	color: black;
	text-decoration: underline;
}

.perfil {
	padding: 10px;
}

/*-------CARD -------*/
.wrappers {
	height: 220px;
	width: 300px;
	margin: 50px auto;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-info:hover {
	background-color: #c0c0c0;
}

.product-img {
	float: left;
}

.product-img img {
	border-radius: 7px 0 0 7px;
	object-fit: cover;
	object-position: center center;
}

.product-info {
	float: left;
	height: 220px;
	width: 150px;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
}

.product-info h1 {
	margin: 0 0 0 30px;
	padding-top: 52px;
	font-size: 15px;
	color: #474747;
}
.product-info span {
	margin: 0 0 0 30px;
}

.product-info h4 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #d2d2d2;
	letter-spacing: 0.2em;
}

.product-info p {
	margin: 0 0 0 38px;
	font-family: 'Playfair Display', serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 8px;
	font-weight: lighter;
	overflow: hidden;
}

.product-info a {
	margin-left: 10px;
	margin-top: 10px
}

.localizacion {
	color: #614D7A;
	font-size: medium;
}

@media screen and (max-width: 600px) {
	.wrappers {
		height: 50%;
		width: 50%;
		margin: 50px auto;
		border-radius: 7px 7px 7px 7px;
		/* VIA CSS MATIC https://goo.gl/cIbnS */
		-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	}
}


/*-----PAGINADOR-------*/
.pagination {
  position: absolute;
  left: 50%;
  
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
  
  
}
.pagination .page .paginador{
  display: inline-block;
  list-style: none;
}
.pagination .page, .paginador{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pagination li a:hover, .pagination li a.active {
  color: #fff;
  background-color: #614D7A;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}