<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container formulario ">
		<h3 th:text="${titulo}"></h3>
		<form th:action="@{/formProducto}" th:object=${producto} method="post"
			enctype="multipart/form-data">

			<label for="nombre">Nombre:</label> <input id="nombre" type="text"
				th:field="*{nombre}" class="form-control"
				th:errorclass="'form-control alert-danger'" /> <small
				class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
				th:errors="*{nombre}"></small><br> <label for="descripcion">Descripcion:</label>
			<textarea id="descripcion" type="text" th:field="*{descripcion}"
				class="form-control" th:errorclass="'form-control alert-danger'"
				rows="10" cols="40">Escribe aquí tus comentarios</textarea>
			<small class="form-text text-danger"
				th:if="${#fields.hasErrors('descripcion')}"
				th:errors="*{descripcion}"></small><br> 
				<label for="fotos">Foto:</label>
				<input id="fotos" th:type="file" name="fotos" class="form-control">
			 <label for="localizacion">Localizacion:</label> 
				<input id="localizacion" type="text" th:field="*{localizacion}" class="form-control" th:errorclass="'form-control alert-danger'" />
				 <small class="form-text text-danger" th:if="${#fields.hasErrors('localizacion')}" th:errors="*{localizacion}"></small>
				<br> 
				<label for="precio">Precio:</label>
			<input id="precio" type="number" th:field="*{precio}"
				class="form-control" th:errorclass="'form-control alert-danger'" />
			<small class="form-text text-danger"
				th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small><br>

			<label for="categoriaProducto">Categoria del Producto:</label>
			<select id="categoriaProducto" name="categoria" class="form-control" >
  				<option value=1>Vehiculos</option> 
  				<option value=2>Herramientas</option>
  				<option value=3>Muebles</option>
  				<option value=4>Informatica</option>
  				<option value=5>Móviles y teléfonos</option>
  				<option value=6>Televisión</option>
  				<option value=7>Audio e Imagen</option>
  				<option value=8>Deportes</option>
  				<option value=9>Cine, Libros y Música</option>
  				<option value=10>Consolas y Videojuegos</option>
  				<option value=11>Jardín</option>
  				<option value=12>Moda y Accesorios</option>
  				<option value=13>Electrodomésticos</option>
			</select>
				<br>
				<input type="hidden" th:field="*{idProducto}"/>
			<input type="submit" class="btn btn-secondary" value="Crear Producto">
		</form>	<br>
	<a th:href="@{/listar}" class="btn btn-secondary">Atras</a>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>