<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container formulario ">
		<h3 th:text="${titulo}"></h3>
		<form th:action="@{/proRecuperar}" method="Post"
			enctype="multipart/form-data">
			
			<label for="correo">Le enviaremos la contraseña a su email al que diga:</label> 
			<input id="correo" name="correo" type="text" class="form-control"/>
				
			<input type="submit" class="btn btn-secondary" value="Enviar">
		</form>	<br>
	<a th:href="@{/login}" class="btn btn-secondary">Atras</a>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>