<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container formulario mt-5">
		<h3 th:text="${titulo}"></h3>
		<form th:action="@{/confirmVendido/} + ${idproducto}" method="post" enctype="multipart/form-data">

			<label for="nombre">Por favor introduzca el nombre del usuario:</label> 
			<input id="nombre" type="text"  class="form-control" name="nombre"/>
			<input type="submit" class="btn btn-secondary" value="Confirmacion del producto Vendido">
		</form>	<br>
	<a th:href="@{/listar}" class="btn btn-secondary">Listado</a>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>