<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
	<br>
	<br>
	<br>
	<br>
	<br>
		<form th:action="@{/login}" method="post">

			<label for="email">Email</label><input id="email" type="email"
				name="email" class="form-control" /><br> <small
				class="form-text text-danger"></small><br> <label for="pswd">Contraseña</label><input
				id="pswd" type="password" name="password" class="form-control" /><br>
			<small class="form-text text-danger"></small><br> <input
				type="submit" value="Enviar" class="btn btn-secondary">
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>