<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 th:text="${titulo}"></h1><br>
		<a th:href="@{/formularioProducto}" class="btn btn-secondary">Crear Producto</a>
		<a th:href="@{/form}" class="btn btn-secondary">Registrar Usuario</a><br><br>
		<a th:href="@{/login}" class="btn btn-secondary">Login Usuario</a><br><br>
		<table class="table">
			<thead>
				<tr>
					<th>idProducto</th>
					<th>nombre</th>
					<th>descripcion</th>
					<th>fotos</th>
					<th>localizacion</th>
					<th>categoriaProducto</th>
					<th>usuarioProducto</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${productos}">
					<td th:text="${producto.idProducto}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.fotos}"></td>
					<td th:text="${producto.localizacion}"></td>
					<td th:text="${producto.categoriaProducto}"></td>
					<td th:text="${producto.usuarioProducto}"></td>
					<td><a th:href="@{/producto/} + ${producto.idProducto}" class="btn btn-primary">
							Ver Producto</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>