<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<form th:action="@{/listar}" method="post" style="padding-top:10px">
			<div class="form-group row centrado">
				<div class="col-xs-3"><input type="text" name="filtro" class="form-control"></div>
				<button type="submit" class="btn btn-secondary ml-3">Buscar</button>
			</div>
		</form>
		<div class="row" style="padding-top:10px">
			<div class="card mr-5 mb-3" style="width: 16rem;"
				th:each="producto: ${productos}">
				<img class="card-img-top img-fluid"
					th:src="@{'/uploads/' + ${producto.fotos}}"
					th:alt="${producto.fotos}">
				<div class="card-body">
					<h5 class="card-title" th:text="${producto.nombre}"></h5>
					<h3 th:text="${producto.precio} + '&euro;'"></h3>

				</div>
				<div>

					<i class="fas fa-map-marker-alt atributos"></i> <span th:text="${producto.localizacion}"></span><br> 
					<a class="usuario atributos" th:href="@{/usuario/} + ${producto.usuario.username}" th:text="${producto.usuario.username}"></a>
				</div>
				<div class="card-body">
					<a th:href="@{/producto/} + ${producto.idProducto}" class="btn btn-secundary botonUno">Ver producto</a> 

				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>