<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container formulario mt-5">
		<form th:action="@{/login}" method="post">

			<label for="username">Username</label><input id="username"
				type="text" name="username" class="form-control"
				placeholder="Username" autofocus required th:onchange="'comprobarUsername()'"/>
				<small id="spanUsername" class="form-text text-danger"></small><br>
			<label for="pswd">Contraseña</label><input id="password" type="password"
				name="password" class="form-control" placeholder="Password" required /><br>
				
			<a th:href="@{/formularioRecuperar}">Recuperar Contraseña</a><br><br>
			
			<input type="submit" value="Enviar" class="btn btn-secondary">
		</form>
		
	</div><script type="text/javascript">
		
		function comprobarUsername(){
			var username = document.getElementById("username");
			var spanUsername = document.getElementById("spanUsername");
			  fetch("/comprobarUsername/" + username.value)
		        .then((res)=>res.json())
		        .then((res)=>{
		            if(res.estado){
		            	spanUsername.innerHTML = "";
		            }
		            else{
		            	spanUsername.innerHTML = "El login indicado no existe";
		            }
		        })

		}
		</script>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>