<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
		<div class="container mt-5">
		<br>
			<div>
			¿Como subir un producto?<br>
			Primero se tiene que entrar como usuarioy luego dar al mas que se ve flotando a la derecha o dando al boton de la izquierda arriba.
			</div><br><hr>
			<div>
			¿Como comprar cualquier producto?<br>
			Se tendra que registrar y entrar.
			</div><br><hr>
			<div>
			¿Como guardar un producto en favotiros?<br>
			Primero se tendra que tendra que logear y luego desde la vista del producto podras dar al boton de un corazon y ya esta.
			</div><br><hr>
			<div>
			¿Se puede puntuar a un vendedor?<br>
			Si. Se podra puntuar a cualquier vendedor desde la vista de su perfil hay un boton para puntuar. 
			</div><br>
		</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>