<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
		<div class="container mt-5">
		<br>
			<div>
			¿Cómo subir un producto?<br>
			Primero se tiene que entrar como usuario y luego dar al mas que se ve flotando a la derecha.
			</div><br><hr>
			<div>
			¿Cómo comprar cualquier producto?<br>
			 Para poder comprar productos ha de estar registrado y logeado.
			</div><br><hr>
			<div>
			¿Cómo guardar un producto en favotiros?<br>
			Primero se tendrá que logear y luego desde la vista del producto podras dar al boton de un corazón.
			</div><br><hr>
			<div>
			¿Se puede puntuar a un vendedor?<br>
			Si. Una vez el vendedor confirme que le ha vendido el producto recibirá un mail, el cual le llevará al formulario de puntuación. 
			</div><br>
		</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>