<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<br> <br> <br> <br> <br>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<img class="card-img-top"
						th:src="@{'/uploads/' + ${producto.fotos}}"
						th:alt="${producto.fotos}">
				</div>
				<div class="col-md-6">
					<p th:text="${producto.nombre}"></p>
					Categoria del producto:<p th:text="${producto.categoriaProducto}"></p>
					<a th:href="@{/usuario/} + ${producto.usuarioProducto}" class="btn btn-secondary botonUno" th:text="${producto.usuarioProducto}"></a> 
				</div>
				<div class="col-md-1"><br><br><i class="fas fa-heart fa-4x"></i><i class="fas fa-comments fa-4x"></i>
				</div>
				<div class="col-md-12">
					<p th:text="${producto.descripcion}">
				</div>
				<div class="col-md-12">
				<p th:text="${producto.localizacion}"></p>
				</div>
				
			</div>
		</div>




		<p th:text="${producto.idProducto}"></p>
		<a th:href="@{/listar}" class="btn btn-secondary botonDos">Atras</a>
		<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>