<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 th:text="${titulo}"></h1><br><br>
		<img class="card-img-top" th:src="@{'/uploads/' + ${producto.fotos}}" th:alt="${producto.fotos}">
		<table class="table">
			<thead>
				<tr>
					<th>idProducto</th>
					<th>nombre</th>
					<th>descripcion</th>
					<th>fotos</th>
					<th>localizacion</th>
					<th>categoriaProducto</th>
					<th>usuarioProducto</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${producto.idProducto}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.localizacion}"></td>
					<td th:text="${producto.categoriaProducto}"></td>
					<td th:text="${producto.usuarioProducto}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/listar}" class="btn btn-secondary"> Volver a Index</a>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>