<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img class="card-img-top"
					th:src="@{'/uploads/' + ${producto.fotos}}"
					th:alt="${producto.fotos}">
			</div>
			<div class="col-md-6">
				<p th:text="${producto.nombre}"></p>
				Categoria del producto:
				<p th:text="${producto.categoriaProducto.descripcion}"></p>
				<a th:href="@{/usuario/} + ${producto.usuario.username}"
					class="btn btn-secondary botonUno"
					th:text="${producto.usuario.username}"></a>
			</div>
			<div class="col-md-1">
				<br>
				<br> <a th:if="${editable}"
					th:href="@{/formularioProducto/} + ${producto.idProducto}"
					class="btn btn-secondary botonDos">Editar</a> <a
					th:href="@{javascript:void(0)?}"
					th:onclick="'annadirFavorito(\''+ ${producto.idProducto} +'\')'">
					<i sec:authorize="isAuthenticated()"
					id="likecorazon" class="fa fa-heart fa-2x"></i>
				</a> <i sec:authorize="isAuthenticated()" class="fas fa-comments fa-2x"></i>
			</div>
			<div class="col-md-12">
				<p th:text="${producto.descripcion}">
			</div>
			<div class="col-md-12">
				<p th:text="${producto.localizacion}"></p>
			</div>
		</div>
	</div>
	<a th:href="@{/listar}" class="btn btn-secondary botonDos">Atras</a>
	<footer th:replace="layout/layout :: footer"></footer>

	<script type="text/javascript">
		function annadirFavorito(idProducto) {
			console.log("producto" + idProducto);
		    fetch("/producto/favorito/" + idProducto)
		        .then((res)=>res.json())
		        .then((res)=>{
		            // res contiene un objeto con la respuesta json del servidor.
		            console.log(res);
		            var corazonEl = document.querySelector("#likecorazon");
		            
		            if (res.estado) {
		                corazonEl.classList.add("text-danger"); // Color rojo
		                corazonEl.classList.add("heartBeat"); // efecto de animate.css
		            } else {
		                corazonEl.classList.remove("text-danger");
		                corazonEl.classList.remove("heartBeat");
		            }
		            
		            
		        })
		}
		</script>


</body>
</html>